{% extends "base.html" %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'books:book-list' %}">Book List</a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ book.title }}
</li>
</ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <main class="col-xs-12 col-sm-12 col-md-4">
    {% include "book_snippet.html" with book=book %}
    </main>

    <aside class="col-xs-12 col-sm-12 col-md-8">
    <div class="card">
        <div class="card-header">
            Chapters
        </div>
        <ul class="list-group list-group-flush">
            {% for chapter in book.chapter_set.all %}
            <li class="list-group-item">
            <a href="{{ chapter.get_absolute_url }}">
                {{ chapter.chapter_number }}. {{ chapter.title }}
            </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    </aside>
</div>
{% endblock content %}
