{% extends "base.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Book List</li>
{% endblock breadcrumb %}

{% block content %}

<h1>This is the book list</h1>
<hr />
{% for book in queryset %}
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ book.publication_date }}</h6>
        <p class="card-text">
            {% for author in book.authors.all %}
                <span>{{ author }}</span> 
                {% if book.authors.count > 1 %} | {% endif %}
            {% endfor %}
        </p>
        <a href="{{ book.get_absolute_url }}" class="card-link">{{ book }}</a>
    </div>
    </div>
{% endfor %}

{% endblock content %}


    
