{% extends "base.html" %}

{% block breadcrumb %}
<li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'books:book-list' %}">Book List</a>
</li>
<li class="breadcrumb-item" aria-current="page">
   <a href="{{ exercise.chapter.book.get_absolute_url }}">
    {{ exercise.chapter.book.title }}
    </a>
</li>
<li class="breadcrumb-item" aria-current="page">
    <a href="{{ exercise.chapter.get_absolute_url }}">
    {{ exercise.chapter.title }}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ exercise.title }}
</li>
{% endblock breadcrumb %}

{% block content %}
    <h1>This is the exercise detail</h1>
    <p>{{ exercise.title }}</p>
    <p>This exercise falls under the chapter: {{ exercise.chapter.title }}</p>
    <p>This exercise falls under the book: {{ exercise.chapter.book.title }}</p>
{% endblock content %}
