{% extends "base.html" %}
{% load static %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'books:book-list' %}">Book List</a>
</li>
<li class="breadcrumb-item" aria-current="page">
   <a href="{{ exercise.chapter.book.get_absolute_url }}">
    {{ exercise.chapter.book.title }}
    </a>
</li>
<li class="breadcrumb-item" aria-current="page">
    <a href="{{ exercise.chapter.get_absolute_url }}">
    {{ exercise.chapter.title }}
    </a>
</li>
<li class="breadcrumb-item active" aria-current="page">
    {{ exercise.title }}
</li>
</ol>
</nav>

{% endblock breadcrumb %}

{% block content %}

<div class="row">
    <main class="col-md-4">
    {% include "book_snippet.html" with book=exercise.chapter.book %}
    </main>

    <aside class="col-md-8">
    <div class="card">
        <div class="card-header">
            Solutions
        </div>

            {% if book_status == 'owned' %}

            {% for solution in exercise.solution_set.all %}
            <div class="accordion" id="toggle-{{ solution.solution_number }}">
                <div class="card">
                    <div class="card-header" id="heading-{{ solution.solution_number }}">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse-{{ solution.solution_number }}" aria-expanded="true" aria-controls="collapse-{{ solution.solution_number }}">
                        Solution {{ solution.solution_number }}
                        </button>
                    </h2>
                    </div>

                    <div id="collapse-{{ solution.solution_number }}" class="collapse" aria-labelledby="heading-{{ solution.solution_number }}" data-parent="#toggle-{{ solution.solution_number }}">
                    <div class="card-body">
                        <img src="{{ solution.image.url }}" class="card-img-top" alt="...">
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% else %}
        <div class="text-center">
            <h4>You do not have access to this book. 
            <a href="#">Purchase this book</a> to have access to the solutions
            </h4>
            <img src="{% static 'images/lock.png' %}" />
            {% endif %}
        </div>
    </div>
    
    </aside>
</div>


{% endblock content %}
