{% extends "base.html" %}

{% block content %}

<h1>Order Summary</h1>
<hr />

<table class="table table-hover table-bordered text-center">
    <tr class="text-center">
        <th>no.</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    {% for item in order.items.all %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.book.title }}
        <span>
        <a href="{% url 'cart:remove-from-cart' item.book.slug %}" class="text-danger">
            <i class="fas fa-trash"></i>
        </a>
        </span>
        </td>
        <td>${{ item.book.price }}</td>
    </tr>
    {% empty %}
    <tr>
    <td colspan="3">
        There are no items in your cart
    </td>
    </tr>
    {% endfor %}
    {% if order.get_total %}
    <tr>
    <td colspan="2">
        <strong class="pull-right">Order total: </strong>
    </td>
    <td colspan="1">
        <strong>${{ order.get_total }}</strong>
    </td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="3">
            <a href="{% url 'books:book-list' %}" class="btn btn-warning pull-left">
            {% if order %}
                Continue shopping
            {% else %}
                Add items to your cart
            {% endif %}
            </a>
        </td>
    </tr>
    {% if order.get_total %}
    <tr>
        <td colspan="3">
            <a href="{% url 'cart:checkout' %}" class="btn btn-primary pull-left">
                Checkout
            </a>
        </td>
    </tr>
    {% endif %}
</table>

{% endblock content %}


    
